.App {
	padding: 50px;
}
.Field {
	width: 320px;
	margin: 0 auto;
	border: 1px solid black;
	padding: 5px;
}
.tries {
	margin-top: 10px;
}
.cell {
	display: inline-block;
	width: 5px;
	height: 5px;
	padding: 20px;
	border: 1px solid white;
	background: rgb(97, 95, 95);
}
.cell.open {
	display: inline-block;
	background: rgb(192, 189, 189);
	text-align: center;
	padding: 20px;
	border: 1px solid rgb(3, 3, 3);
}
